* {
    margin: 0;
    /* padding: 0; */
    font-size: 20px;
}

table,
tr,
th,
td {
    /* border: 1px solid gray; */
    font-size: 0.8rem;
}

th {
    padding: 5px 20px;
    background-color: #128a7d;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
}

td {
    padding: 5px 20px;
    text-align: center;
    background-color: #ceffa1;
    border-radius: 5px;
}

body {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    /* border: solid red 1px; */
    height: 100%;
    align-items: center;
    padding: 40px 40px 80px;
    margin: 40px;
    background-color: rgba(128, 128, 128, 0.089);
    border-radius: 40px;
    box-shadow: 0px 5px 5px 0px grey;
    position: relative;
}

table {
    background-color: black;
    border: black solid 5px;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 0px 0px 6px 3px grey;
}

tr {
    padding: 5px 0;
    margin: 7px 0;
}

/* tr:nth-child(2n) {
    background-color: #cfffa1;
}

tr:nth-child(2n - 1) {
    background-color: #ceffa1b4;
} */

tr :nth-child(2n) {
    font-weight: bold;
}

.displayBtn,
.newBook {
    height: 2rem;
    /* width: 6rem; */
    margin: 40px 20px 0;
    padding: 5px 25px;
    border-radius: 10px;
    background-image: linear-gradient(
        45deg,
        rgba(2, 85, 163, 0.678),
        rgb(0, 217, 255)
    );
    font-weight: bold;
    color: black;
    box-shadow: 4px 4px 5px 0px grey;
}

.del-btn,
.read-btn {
    display: inline-block;
    margin: 8px 0;
    font-size: 0.8rem;
    padding: 5px 20px;
    border-radius: 7px;
    border: black solid 2px;
    height: 2rem;
    justify-content: center;
    align-items: center;
}

.read-btn {
    margin-left: 14px;
    margin-right: 7px;
}

.del-btn {
    background-color: rgba(255, 0, 0, 0.603);
    margin-left: 7px;
    margin-right: 14px;
    position: relative;
    top: 1px;
}

.form-popup {
    /* display: none; */
    position: absolute;
    top: 20px;
    /* right: 15px; */
    /* border: 3px solid #f1f1f1; */
    border: 3px solid black;
    z-index: 9;
    margin-top: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgb(75, 198, 202) 0px 11px 19px 15px;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    padding: 15px;
}

#formHeading,
input[type="submit"] {
    grid-column: span 2;
}

input:invalid {
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid red;
    border-radius: 3px;
}

input:valid:not(.submitBtn) {
    background-color: rgba(21, 255, 0, 0.1);
    border: 1px solid green;
    border-radius: 3px;
}
